dataset

__pycache__

desktop.ini

Statistics.ipynb

test_data

trained_models

# Test images
162004.jpg
detection.png

233_8.jpg
236_8.jpg
273_6.jpg
325_1.jpg
nrc_1.jpg
nrc_4.jpg
nrc_5_1.jpg
nrc_5.jpg
nrc_6.jpg
nrc_7_1.jpg
nrc_7.jpg
nrc_8_2.jpg
nrc_8.jpg
nrc_26_2.jpg
nrc_26.jpg